// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
$primary: #FF516B;
$secondary: black;


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //outline: 1px solid rgba(red, 0.5);
}
body {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 27px;
}
header {
  background: white;
  .nav-flex {
    width: 100%;
    position: relative;
    //display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    
    .cta-top-right {
      position: absolute;
      top: 6px;
      right: 0;
    }
    @media (max-width: 500px) {
      .logo {
        height: 36px;
      }
      .cta-top-right {
        top: 0;
        // margin-top: -6px;
      }
    }
  }
}

section,
header,
footer {
  padding: 32px 0;
}
.hero-content {
  //height: 500px;
  position: relative;
  //overflow: hidden;
  text-align: right;
  .title {
    position: absolute;
    left: 0;
    top: 64px;
    // width: 50%;
    z-index: 100;
    text-align: left;
    > h1 {
      width: 60%;
      margin-bottom: 32px;
    }
  }
  .lead {
    max-width: 300px;
    font-size: 1.2em;
  }
  .mockup {
    position: absolute;
    display: block;
    right: 0px;
    top: 32px;
    width: 30%;
    z-index: 100;
  }
  .cover {
    > img {
      height: 500px;
      width: auto;
      opacity: 0.4
    }
  }
  
}
@media (max-width: 500px) {
  .hero-content {
    height: 350px;
    .cta {
      width: 100%;
    }
    .title {
      top: 160px;
      > h1 {
        font-size: 3em;
        font-weight: bold;
        //line-height: 1em;
        width: 100%;
      }
      > .lead {
        max-width: 100%;
        text-align: center;
      }
    }
    .cover {
      > img {
        width: 100%;
        height: auto;
      }
    }
    .mockup {
      right: 0px;
      top: -32px;
    }
  }
}

.benefits {
  padding: 70px 0;
}

.card-image {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title {
  text-align: center;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 900;
}
.card-text {
  text-align: center;
}

.form-control {
  border-radius: 999px;
}
.form-gr {
  margin: 0 auto;
  //outline: 1px solid red;
}
.mail-chimp-email {
  margin-right: 16px;
  @media (max-width: 500px) {
    margin-bottom: 16px;
    + .btn {
      width: 100%;
    }
  }
}
.btn {
  text-transform: uppercase;
  border-radius: 999px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 3.27px;
  padding: 0.50rem 1rem;
  text-align: center;
  border-width: 2px;
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 4px 14px 0 rgba(255,81,107,0.25);
    &:hover {
      background: white;
      color: $primary;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
}

h1 {
  font-family: 'Libre Baskerville';
  font-size: 64px;
  color: #000000;
  letter-spacing: 0.2px;
  line-height: 61px;
}


.form-em {
  background-color: #383EFF;
  border-radius: 16px;
  padding: 40px;
}
.form-tagline {
  font-family: "Libre Baskerville";
  font-size: 34px;
  //font-weight: bold;
  line-height: 42px;
  text-align: center;
  color: white;
}
.form-explanation {
  text-align: center;
  color: #D1D3FF;
}


footer {
  font-size: 14px;
  @media (max-width: 500px) {
    .justify-content-end {
      justify-content: flex-start!important;
    }
  }
}
